<div class="user-container-main" *ngIf="user">
    <div class="user-container">
        <img [src]="user.avatar_url" alt="image not present" id="profile-image">
        <div class="user-info">
            <p id="user-name">{{user.name}}</p>
            <p id="user-description">{{user.bio}}</p>
            <p id="user-location" *ngIf="user.location"><img id="user-location-icon" loading="lazy" src="assets/images/location.png">{{user.location}}</p>
            <p id="user-twitter" *ngIf="user.twitter_username">Twitter: {{user.twitter_username}}</p>
        </div>
    </div>
    <p id="user-github"><img id="copy-icon" src="assets/images/copy.png" loading="lazy" alt="">{{user.html_url}}</p>
    <div id="go-back" (click)="goBack()">change username</div>
</div>
<div class="repo-container">
    <div class="repo" *ngFor="let repo of repos">
        <p id="repo-name">{{repo.name}}</p>
        <p id="repo-description">{{repo.description}}</p>
        <div class="repo-languages-container" *ngIf="repo.language">
            <div class="repo-language">{{repo.language}}</div>
            <!-- <div class="repo-language">angular</div>
            <div class="repo-language">c++</div> -->
        </div>
    </div>
</div>

<div class="pagination-container">
  <div class="page-number-container">
    <div id="page-number"><<</div>
    <div id="page-number" *ngFor="let p of pageArray; let firstIteration = first; let lastIteration = last; let i= index" (click)="changePage(i+1)">{{i + 1}}</div>
    <div id="page-number">>></div>
  </div>

  <div class="older-newer-page">
      <p class="older old-new"><span class="arrows old">&#8592;</span>Older</p>
      <p class="newer old-new">Newer<span class="arrows new">&#8594;</span></p>
  </div>
</div>




<!--
<div class="repo-container">
  <div class="repo">
      <p id="repo-name">Campus-Backend</p>
      <p id="repo-description">campus is a centralized platform for all services.</p>
      <div class="repo-languages-container">
          <div class="repo-language">javascript</div>
          <div class="repo-language">angular</div>
          <div class="repo-language">c++</div>
      </div>
  </div>
</div> -->